In [3]:
import duckdb

# DuckDB bağlantısını aç
con = duckdb.connect(database='my_database.db')

In [ ]:
# En yüksek ortalama puana sahip filmleri seç
query = """
    SELECT 
        m.movie_id, 
        m.film_adi, 
        m.yayım_yili, 
        AVG(r.rating) AS avg_rating
    FROM df_movies AS m
    JOIN df_ratings AS r ON m.movie_id = r.movie_id
    GROUP BY m.movie_id, m.film_adi, m.yayım_yili
    ORDER BY avg_rating DESC
    LIMIT 10
"""

top_movies = con.execute(query).fetchall()

print("\nÖnerilen Filmler:")
for movie in top_movies:
    print(f"{movie[1]} ({movie[2]}) - Ortalama Puan: {movie[3]:.2f}")

Cold Start Önerilen Filmler:
Lord of the Rings: The Return of the King: Extended Edition (2003) - Ortalama Puan: 4.72
The Lord of the Rings: The Fellowship of the Ring: Extended Edition (2001) - Ortalama Puan: 4.72
Lord of the Rings: The Two Towers: Extended Edition (2002) - Ortalama Puan: 4.70
Lost: Season 1 (2004) - Ortalama Puan: 4.67
Battlestar Galactica: Season 1 (2004) - Ortalama Puan: 4.64
Fullmetal Alchemist (2004) - Ortalama Puan: 4.61
Trailer Park Boys: Season 4 (2003) - Ortalama Puan: 4.60
Trailer Park Boys: Season 3 (2003) - Ortalama Puan: 4.60
Tenchi Muyo! Ryo Ohki (1995) - Ortalama Puan: 4.60
The Shawshank Redemption: Special Edition (1994) - Ortalama Puan: 4.59

In [12]:
# En popüler filmleri getiren SQL sorgusu
query = """
    SELECT 
        m.movie_id, 
        m.film_adi, 
        m.yayım_yili, 
        COUNT(r.rating) AS rating_count, 
        AVG(r.rating) AS avg_rating
    FROM df_movies AS m
    JOIN df_ratings AS r ON m.movie_id = r.movie_id
    GROUP BY m.movie_id, m.film_adi, m.yayım_yili
    ORDER BY rating_count DESC, avg_rating DESC
    LIMIT 10
"""
result = con.execute(query).fetchall()
print("\nPopüler Filmler:")
for movie in result:
    print(f"{movie[1]} ({movie[2]}) - Ortalama Puan: {movie[4]:.2f}")

Popüler Filmler:
Miss Congeniality (2000) - Ortalama Puan: 3.36
Independence Day (1996) - Ortalama Puan: 3.72
The Patriot (2000) - Ortalama Puan: 3.78
The Day After Tomorrow (2004) - Ortalama Puan: 3.44
Pirates of the Caribbean: The Curse of the Black Pearl (2003) - Ortalama Puan: 4.15
Pretty Woman (1990) - Ortalama Puan: 3.91
Forrest Gump (1994) - Ortalama Puan: 4.30
The Green Mile (1999) - Ortalama Puan: 4.31
Con Air (1997) - Ortalama Puan: 3.45
Twister (1996) - Ortalama Puan: 3.41

In [19]:
# Son 20 Yıldaki En İyi Filmler:
query = """
    SELECT 
        m.movie_id, 
        m.film_adi, 
        m.yayım_yili, 
        AVG(r.rating) AS avg_rating
    FROM df_movies AS m
    JOIN df_ratings AS r ON m.movie_id = r.movie_id
    WHERE m.yayım_yili >= EXTRACT(YEAR FROM current_date) - 20  -- Son 20 yıl
    GROUP BY m.movie_id, m.film_adi, m.yayım_yili
    ORDER BY avg_rating DESC
    LIMIT 10
"""

print("\nSon 20 Yıldaki En İyi Filmler:")
for movie in result:
    print(f"Film: {movie[1]} ({movie[2]}) - Ortalama Puan: {movie[3]:.2f}")

Son 20 Yıldaki En İyi Filmler:
Film: Ghost in the Shell: Stand Alone Complex: 2nd Gig (2005) - Ortalama Puan: 4.59
Film: Ah! My Goddess (2005) - Ortalama Puan: 4.52
Film: Curb Your Enthusiasm: Season 4 (2005) - Ortalama Puan: 4.36
Film: Hotel Rwanda (2005) - Ortalama Puan: 4.31
Film: UFC 52: Ultimate Fighting Championship: Randy Couture vs. Chuck Liddell (2005) - Ortalama Puan: 4.28
Film: Lamb of God: Killadelphia (2005) - Ortalama Puan: 4.28
Film: Baki the Grappler (2005) - Ortalama Puan: 4.28
Film: Elfen Lied (2005) - Ortalama Puan: 4.25
Film: Carlos Mencia: Not for the Easily Offended: Live in San Jose (2005) - Ortalama Puan: 4.25
Film: Batman Begins (2005) - Ortalama Puan: 4.24

In [27]:
# Trend Filmler (2005 Son 1 Ay):
query = """
    SELECT 
        m.movie_id, 
        m.film_adi, 
        m.yayım_yili, 
        COUNT(r.rating) AS vote_count
    FROM df_movies AS m
    JOIN df_ratings AS r ON m.movie_id = r.movie_id
    WHERE r.tarih >= DATE '2005-12-31' - INTERVAL '1 month'
    GROUP BY m.movie_id, m.film_adi, m.yayım_yili
    ORDER BY vote_count DESC
    LIMIT 10
"""
result = con.execute(query).fetchall()
print("\nTrend Filmler (2005 Son 1 Ay):")
for movie in result:
    print(f"{movie[1]} ({movie[2]}) - Oy Sayısı: {movie[3]}")

Trend Filmler (2005 Son 1 Ay):
Batman Begins (2005) - Oy Sayısı: 11605
Crash (2005) - Oy Sayısı: 8075
The Longest Yard (2005) - Oy Sayısı: 6969
National Treasure (2004) - Oy Sayısı: 6871
Bewitched (2005) - Oy Sayısı: 6769
Sahara (2005) - Oy Sayısı: 6597
Kingdom of Heaven (2005) - Oy Sayısı: 6047
Hitch (2005) - Oy Sayısı: 5343
Robots (2005) - Oy Sayısı: 5246
Sin City (2005) - Oy Sayısı: 5203

In [29]:
con.close()